.Generator{
   display: flex;
    justify-content:space-around;
    align-items: center;
    height: 70vh;
    width: 70vw;
    background-color:#3b5999 ;
    position: fixed;
    top: 20%;
    left: 15%;
    border-radius:2rem;
}